github "Alamofire/Alamofire"
github "tristanhimmelman/AlamofireObjectMapper" ~> 2.1
github "ReactiveX/RxSwift" ~> 2.0
github "onevcat/Kingfisher" ~> 2.0
github "RxSwiftCommunity/RxDataSources"
github "Haneke/HanekeSwift"